<header>
  <mat-toolbar>
    <img class="logo" src="/assets/img/logo.png" />

    <span class="example-fill-remaining-space">
      <span fxHide="false" fxHide.sm="true" fxHide.xs="true">
        <a mat-button routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>

        <a mat-button routerLink="/denver/menu" routerLinkActive="active">Denver Menu</a>

        <a mat-button routerLink="/winterpark/menu" routerLinkActive="active">Winter Park Menu</a>

        <a mat-button href="https://slicelife.com/restaurants/co/denver/80202/pizza-pedal-r-denver/menu?utm_campaign=order_now_button&utm_medium=referral&utm_source=pizzapedalrdenver.com" routerLinkActive="active" target="_blank">
          Start Online Order

          <small>(Denver)</small>
        </a>

        <a mat-button href="https://slicelife.com/restaurants/co/winter-park/80482/pizza-pedal-r-winter-park/menu?utm_campaign=order_now_button&utm_medium=referral&utm_source=pizzapedalrmenu.com" routerLinkActive="active" target="_blank">
          Start Online Order

          <small>(Winter Park)</small>
        </a>

      </span>

      <button class="menu-btn" mat-icon-button [matMenuTriggerFor]="appMenu" fxHide="true" fxHide.sm="false" fxHide.xs="false">
        <mat-icon>menu</mat-icon>
      </button>

      <mat-menu #appMenu="matMenu">
        <button mat-menu-item routerLink="/">Home</button>

        <a mat-menu-item routerLink="/denver/menu">Denver Menu</a>

        <button mat-menu-item routerLink="/winterpark/menu">Winter Park Menu</button>

        <a mat-menu-item href="https://slicelife.com/restaurants/co/denver/80202/pizza-pedal-r-denver/menu?utm_campaign=order_now_button&utm_medium=referral&utm_source=pizzapedalrdenver.com" target="_blank">
          Start Online Order

          <small>(Denver)</small>
        </a>

        <a mat-menu-item href="https://slicelife.com/restaurants/co/winter-park/80482/pizza-pedal-r-winter-park/menu?utm_campaign=order_now_button&utm_medium=referral&utm_source=pizzapedalrmenu.com" target="_blank">
          Start Online Order

          <small>(Winter Park)</small>
        </a>
      </mat-menu>
    </span>
  </mat-toolbar>

  <!-- <f-is-at-top [break]="750"></f-is-at-top> -->
</header>

<router-outlet></router-outlet>

<footer></footer>
